.btn {
  padding: 0.6rem 1.2rem;
  border-width: 0;
  border-radius: 8px;
  font-weight: 600;
  width: 7rem;
  background-color: #e0e0e0;
}

.btn-primary {
  background-color: #3d5afe;
  color: white;
}

.default-hover__focus {
  background-color: #aeaeae;
}

.variant-outline {
  background-color: transparent;
  border-width: 1px;
  border-color: blue;
  color: blue;
}

.outline-hover__focus {
  background-color: #eaefff;
}

.variant-text {
  background-color: transparent;
  color: blue;
  text-align: start;
  padding-left: 0;
  padding-right: 0;
}

.text-hover__focus {
  background-color: #eaefff;
  text-align: center;
  border-width: 0;
  outline: none;
}
